<h1><% provide(:title, 'New Question') %>New Question</h1>
<br><br>

<%= form_for(:question,  url: questions_path ) do |f| %>
<div class="form-group">
  <strong>Question:</strong>
  </div>
<div class="form-group">
  <%= f.text_field (:title) %>
</div>
<div class="form-group">
 <strong>Description:</strong>
</div>
<div class="form-group">
  <%=text_area(:question, :body, cols: 40, rows: 5)%>
</div>
<div class="form-group">
  <%= f.submit "Ask", class: "btn btn-primary" %>
</div>
<% end %>
